:root {
  --main-bg-color: #feecd3;
  --text-color: #333;
  --theme-color: #028090;
  --dark-theme-color: #114b5f;
  --base-font-size: 16px; 
}

html,
body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  color: var(--text-color);
}

.site-content {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: var(--dark-theme-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.flowchart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.node {
  padding: 1rem 1.5rem;
  border: 2px solid var(--theme-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.node:hover {
  background-color: var(--theme-color);
  color: var(--main-bg-color);
}

#tooltip {
  position: absolute; 
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
  pointer-events: none; 
  font-size: 0.9em;
  max-width: 200px;
  text-align: center;
}

.description {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: left;
}

.description h3 {
  color: var(--theme-color);
  margin-bottom: 0.5rem;
}

.description ul {
  text-align: left;
  padding-left: 1.5rem;
}

.description i {
  color: var(--dark-theme-color);
}

.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .flowchart .node {
    width: calc(100% - 1rem); 
  }

  html,
  body {
    font-size: 14px; 
  }

  h1 {
    font-size: 1.6rem;
  }
}

footer.attribution {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-size: 0.8rem;
  color: #555;
}

.about-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #007acc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

footer.attribution a {
  color: #007acc;
  text-decoration: none;
}

footer.attribution a:hover {
  text-decoration: underline;
}

footer.attribution ul {
  list-style-type: none;
  padding-left: 0;
}

footer.attribution ul li {
  margin-bottom: 5px;
}

footer.attribution p, 
footer.attribution ul,
footer.attribution ul li {
  font-size: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  table-layout: fixed;
}

table th,
table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table thead {
  background-color: #f4f4f4;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

.effect {
  margin-top: 20px;
  font-size: 0.95em;
  font-style: italic;
  color: #555;
}

.table-section {
  margin-bottom: 20px;
}