:root {
  --main-bg-color: #feecd3;
  --text-color: #333;
  --theme-color: #028090;
  --dark-theme-color: #114b5f;
  --base-font-size: 25px;
}

html,
body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  font-weight: 300;
  color: var(--text-color);
}

.site-content {
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: var(--dark-theme-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.flowchart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.node {
  padding: 1rem 1.5rem;
  border: 2px solid var(--theme-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
  cursor: pointer;
  width: 220px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.node:hover {
  background-color: var(--theme-color);
  color: var(--main-bg-color);
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  color: #333;
  max-width: 300px;
  z-index: 10;
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.description {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: left;
}

.description h3 {
  color: var(--theme-color);
  margin-bottom: 0.5rem;
}

.description ul {
  text-align: left;
  padding-left: 1.5rem;
}

.description i {
  color: var(--dark-theme-color);
}

.active {
  display: block;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 1.8rem;
  }
}

footer.attribution {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-size: 0.5em;
  color: #555;
}

footer.attribution a {
  color: #007acc;
  text-decoration: none;
}

footer.attribution a:hover {
  text-decoration: underline;
}

footer.attribution ul {
  list-style-type: none;
  padding-left: 0;
}

footer.attribution ul li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  table-layout: fixed;
}

table th,
table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table thead {
  background-color: #f4f4f4;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
}

.effect {
  margin-top: 20px;
  font-size: 0.95em;
  font-style: italic;
  color: #555;
}

.table-section {
  margin-bottom: 20px;
}
